    .basket-items {
        margin: 30px auto;
        height: 100vh;
        width: auto;
        border-radius: 5px;
        /*border: 2px solid rgb(251, 248, 248);*/
        padding-bottom: 60px;
    }

    .basket-items-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;
        height: 50px;
        /*border-bottom: 2px solid rgb(248, 245, 245);*/
        color: #fff;
        font-weight: 700;
    }

    .basket-items-empty {
        color: #fff;
    }

    .basket-items-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .basket-item-list {
        display: flex;
        align-items: center;
        padding: 20px 0;
    }

    .basket-items-image {
        width: 25vw;
        height: auto;
    }

    .basket-item-list {
        flex: 1;
    }

    .basket-items-name {
        flex: 1;
        font-size: 14px;
        color: #ccc;
    }

    .basket-items-function {
        display: flex;
        align-items: center;
        margin-left: auto;
        
    }

    .basket-items-function {
        color: #fff;
        width: 25%;
    }

    .basket-items-add,
    .basket-items-remove {
        width: 30px;
        margin-right: 15px;
        cursor: pointer;
        font-weight: 700;
        border-radius: 3px;
        border: none;
        font-size: 18px;
        color: #fff;
    }

    .basket-items-add {
        background-color: rgb(24, 37, 75);
    }

    .basket-items-remove {
        background-color: rgb(39, 86, 86);
    }

    .basket-items-add:active {
        transform: translateY(1.2px);
    }

    .basket-items-remove:active {
        transform: translateY(1.2px);
    }

    .basket-totals {
        display: flex;
        justify-content: flex-start;
        color: #fff;
        font-size: 25px;
    }

    .basket-shipping {
        color: #ccc;
        margin-bottom: 20px;
        margin: auto;
        border-top: 2px solid#fff;
        border-bottom: 2px solid#fff;
        margin-bottom: 30px;
    }

    .basket-items-total-price-name {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        /*width: 40%;
        margin-left: auto;
        margin-right: auto;*/
    }

    .basket-shipping-header {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5px;
        color: #fff;
    }

    .basket-shipping-price {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: 50%;
        margin-bottom: 5px;
        margin-top: -15px;
        color: #fff;
    }

    .basket-shipping-estimate {
        color: #fff;
        margin-left: auto;
        width: 50%;
        margin-bottom: 10px;
    }

    .basket-items-price {
        color: #fff;
    }

    .total-price-including-shipping {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-size: 20px;
        border-bottom: 2px solid #fff;
        margin-bottom: 20px;
    }
    .total-price-including-shipping-header {
        color: #fff;
    }
    .total-price-including-shipping-price {
        margin-bottom: 25px;
        margin-right: 10px;
        color: #fff;
    }

    .clear-basket-button {
        width: auto;
        height: auto;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to left,
                rgb(16, 35, 93) 0%,
                rgb(9, 66, 66) 100%);
        height: 30px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.3),
            0px 2px 5px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.24);
    }

    .clear-basket-button:active {
        box-shadow: none;
    }

    .checkout-button {
        display: flex;
        align-items: center;
        margin: auto;
        margin-bottom: 10px;
        background-color: rgb(9, 66, 66);
        border: none;
        border-radius: 4px;
        color: #ffffff;
        padding: 6px 15px;
        cursor: pointer;
        font-size: 15px;
    }

    .checkout-button:active {
        box-shadow: none;
    }


    @media screen and (max-width: 391px) {
        .basket-items {
            display: flex;
            flex-direction: column;
            width: 94vw;
            height: 100%;
        }

        .basket-items-header {
            padding: 20px;
            font-size: 30px;
        }

        /*img.basket-items-image {
            display: block;
            margin: 0 auto;
            
        }*/

        .basket-item-list {
            width: 90%;
        }

        .basket-items-name {
            font-size: 14px;
            margin-right: 10px;
        }

        .clear-basket {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .basket-items-price {
            font-size: 15px;
            margin-right: 10px;
        }

        .basket-items-total-price-name {
            margin-top: 15px;
            font-size: 18px;
        }

        .basket-items-total-price {
            padding-left: 35%;
        }
    }

    @media screen and (min-width: 392px) and (max-width: 767px) {
        .basket-items {
            display: flex;
            flex-direction: column;
            width: 94vw;
            height: 100%;
        }

        .basket-items-header {
            padding: 20px;
            font-size: 30px;
        }

        .basket-items-image {
            width: 25%;
            margin: auto 0;
        }

        .basket-item-list {
            width: 90%;
        }

        .clear-basket {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .basket-items-name {
            font-size: 15px;
            margin-right: 10px;
        }

        .basket-items-price {
            font-size: 15px;
            margin-right: 10px;
        }

        .basket-items-total-price-name {
            margin-top: 15px;
        }

        .basket-items-total-price {
            padding-left: 100px;
        }

        .checkout-button {
            margin-bottom: 10px;
        }

        @media screen and (orientation: landscape) {
            img.basket-items-image {
                margin: auto;
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        .basket-items {
            display: flex;
            flex-direction: column;
            width: 94vw;
            height: 100%;
        }

        .basket-items-header {
            padding: 20px;
            font-size: 30px;
        }

        img.basket-items-image {
            height: 10%;
            width: 20%;
            margin: 15px 0;
        }

        .basket-items-name {
            font-size: 18px;
        }

        .basket-item-list {
            width: 90%;
        }

        .clear-basket {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .basket-items-price {
            font-size: 20px;
            margin-right: 10px;
        }

        .basket-items-total-price-name {
            margin-top: 15px;
            height: auto;
        }

        .basket-items-total-price {
            /*padding-left: 75%;*/
            margin: auto;
        }

        @media screen and (orientation: landscape) {
            .basket-items {
                height: auto;
            }

            .basket-items-total-price {
                margin-right: 20px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        .basket-items {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 80vw;
        }

        .basket-item-list {
            width: 60vw;
        }

        .basket-items-image {
            width: 20%;
            height: 10%;
            margin: auto;
        }

        .basket-items-name {
            font-size: 24px;
        }

        .clear-basket {
            margin: auto;
        }

        .basket-items-total-price {
            justify-content: flex-end;
        }

        .checkout-button {
            margin: auto;
            margin-bottom: 20px;
            background: linear-gradient(to left,
                    rgb(16, 35, 93) 0%,
                    rgb(9, 66, 66) 100%);
            border: none;
            padding: 6px 18px;
            border-radius: 3px;
            color: #ccc;
        }

        .basket-items-function {
            margin: auto;
        }
    }