.image-carousel {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
}

.image-carousel-inner {
    display: flex;
}

.image-carousel img {
    height: 120px;
    width: 100vw;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
    /*border: 2px solid;
    border-image: linear-gradient(to left, rgb(16, 35, 93) 0%, rgb(43, 103, 103) 100%);
    border-image-slice: 1;*/


}

.image-carousel img.visible {
    opacity: 1;
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
    .image-carousel img {
        width: 100vw;
    }
}

@media screen and (min-width: 1201px) {
    .image-carousel {
        width: 100%;
        overflow: hidden;
        margin-top: 30px;
    }

    .image-carousel-inner {
        display: flex;
    }

    .image-carousel img {
        height: 280px;
        width: 100vw;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    
}