.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 30px;
    border: none;
    padding-bottom: 100px;
    height: 100vh;
    margin: auto;
}

.checkout-heading {
    color: #f3efef;
    display: block;
    font-size: 28px;
    text-align: center;

    padding-top: 20px;
}

.address-heading {
    color: #f7f3f3;
    font-size: 24px;
    padding: 10px 0;
    margin: auto;
}

.shipping-details {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 20px;
}


.shipping-firstName,
.shipping-lastName,
.company-name,
.address,
.address-line-two,
.city,
.postcode,
.phone-number {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 6px;
    width: 75vw;
    padding: 8px;
    border: none;
}

.phone-number::placeholder {
    font-size: 12px;
}

.order-summary {
    background: linear-gradient(to left,
            rgb(24, 57, 57) 0%,
            rgb(28, 41, 82) 100%);
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.checkout-total {
    color: #ccc;
    margin-right: 10px;
}

.order-summary-heading {
    color: #ccc;
    font-size: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.checkout-basket-dropdown {
    color: #ccc;
    font-size: 10px;
}

.arrow-icon {
    color: #ccc;
    font-size: 10px;
    margin-right: 150px;
}

.checkout-item-name {
    color: #ccc;
    font-size: 10px;
}

.checkout-item-quantity {
    color: #ccc;
}

.checkout-basket-item {
    width: auto;
    margin: 5px 0;
}


.accordion-container {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 95%;
}

.accordion-title {
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}

/*.checkout-paypal-button {
    margin: auto;
    width: auto;
    color: #ffffff;
    background: linear-gradient(to left,
            rgb(24, 57, 57) 0%,
            rgb(28, 41, 82) 100%);
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    perspective: 500px;
    transition: transform 0s, box-shadow 0s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.checkout-paypal-button:active {
    transform: translateY(3px) perspective(500px);
    box-shadow: none;
}

.checkout-paypal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
    height: 22vh;
    background-color: rgb(201, 203, 205);
    border-radius: 5px;
    width: 80%;
}

.checkout-paypal-image {
    width: 60%;
    margin-top: 10px;
}

.checkout-paypal-header {
    color: #595555;
    font-size: 12px;
    margin-top: 35px;
}

.checkout-paypal-link {
    color: #595555;
    font-size: 12px;
    margin-top: 35px;
}

.checkout-paypal-text {
    background-color: rgb(179, 182, 185);
    height: auto;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    color: rgb(58, 59, 60);
    font-size: 14px;
}*/


@media screen and (max-width: 391px) {}

@media screen and (min-width: 392px) and (max-width: 767px) {
    .accordion-container {
        width: 90%;
    }

    .checkout-basket-items {
        width: 90%;
    }

    .order-summary {
        width: 70vw;
    }

    @media screen and (orientation: landscape) {
        .checkout-paypal-container {
            height: auto;
            margin-bottom: 60px;
            width: 77vw;
        }

        .checkout-container {
            height: 100%;
        }

        
    }
}



@media screen and (min-width: 768px) and (max-width: 991px) {
    .address-heading {
        color: #ccc;
        margin: auto;
        font-size: 18px;
        padding: 10px 0;
    }

    .logo {
        width: auto;
    }

    .order-summary {
        width: 50vw;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
    }

    .arrow-icon {
        color: #ccc;
        font-size: 10px;
        justify-content: flex-start;
    }

    .accordion-content {
        width: auto;
        border: none;
    }

    .checkout-basket-item {
        text-align: center;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .address-heading {
        color: #ccc;
        margin: auto;
        font-size: 22px;
        padding: 10px 0;
    }

    .order-summary {
        width: 50vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
    }

    .arrow-icon {
        color: #ccc;
        font-size: 10px;
        justify-content: flex-start;
    }

    .accordion-content {
        width: 33vw;
        border: none;
    }
}

@media screen and (min-width: 1200px) {
    .address-heading {
        color: #ccc;
        margin: auto;
        font-size: 18px;
        padding: 10px 0;
    }

    .checkout-container {
        padding-bottom: 60px;
    }

    .shipping-firstName,
    .shipping-lastName,
    .company-name,
    .address,
    .address-line-two,
    .city,
    .postcode,
    .phone-number {
        width: 30vw;
    }

    .order-summary {
        width: 35vw;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
    }

    .checkout-basket-item {
        text-align: center;
    }

    .arrow-icon {
        color: #ccc;
        font-size: 10px;
    }

    .accordion-content {
        width: 20vw;
        border: none;
    }

    .checkout-paypal-container {
        height: auto;
        width: 40vw;
        margin-bottom: 60px;
    }

    .checkout-paypal-image {
        width: auto;
    }

    

    .shipping-details {
        width: auto;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .address-heading {
        font-size: 36px;
    }

    .logo {
        width: auto;
    }
    .checkout-basket-item {
        width: 90%;
    }
}