.diet-plan-container {
    margin-bottom: 60px;
}

.header {
    color: #eee7e7;
    text-align: center;
    font-size: 3rem;
}

.header-2 {
    color: #eee7e7;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.diet-plan-image-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.certificate,
.diet-image {
    width: 45vw;
    height: 20vh;
    border-radius: 3px;
}

.product-price {
    width: 100vw;
    color: #eee7e7;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 1.2rem;
}

.diet-plan-text-container {
    /*background-color: rgb(182, 178, 174);*/
    background: linear-gradient(to left,
            rgb(26, 41, 85) 0%,
            rgb(47, 82, 82) 100%);
    width: 86vw;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

/*.diet-plan-text-1,*/
.diet-plan-text-2,
.diet-plan-text-3,
.diet-plan-text-4,
.diet-plan-text-5 {
    color: #ede4e4;
    /*background-color: rgb(218, 210, 203);*/
    background: linear-gradient(to left,
            rgb(42, 57, 101) 0%,
            rgb(91, 103, 103) 100%);
    text-align: flex-start;
    margin: auto;
    /*border: 0.1px solid #2c2929;*/
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: large;
}

.diet-plan-text-1 {
    color: #ede4e4;
    text-align: flex-start;
    background: linear-gradient(to left,
            rgb(42, 57, 101) 0%,
            rgb(91, 103, 103) 100%);
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    font-size: large;
}

@media screen and (min-width: 492px) {

    .certificate,
    .diet-image {
        width: 40vw;
    }
    .diet-plan-text-container {
        width: 80vw;
    }
}
@media screen and (min-width: 961px) {

    .certificate,
    .diet-image {
        width: 30vw;
    }
    .diet-plan-text-container {
        width: 60vw;
    }
}
@media screen and (min-width: 1200px) {

    .certificate,
    .diet-image {
        width: 25vw;
    }
    .diet-plan-text-container {
        width: 50vw;
    }
}