
.diet-header {
    font-size: 2rem;
}

.diet-sub-header {
    font-size: 1.5rem;
}
.diet-plan-product-price {
    color: #000000;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: 500;
}

.diet-plan-image {
    height: 200px;
}