.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(11, 11, 11);
    width: 100vw;
    margin: auto;
    height: 25vh;
    z-index: 500;
}
.connect-header {
    background-color: rgb(11, 11, 11);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-size: 1.5rem;
}
.connect-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    background-color: rgb(11, 11, 11);
    padding: 12px;
    border: none;
    margin: auto;
}
/*.instagram-link a,
.twitter-link a,
.facebook-link a {
}*/

.connect-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}
.contact-map {
    width: 45vw;
    height: 17vh;
    margin: auto;
}

.contact-heading {
    font-size: 1.3rem;
    padding-bottom: 3px;
}

.contact-address {
    color: #fcfafa;
    margin: auto;
    font-size: 0.9rem;
}

@media screen and (min-width: 769px) and (max-width:992px) {
    .contact-container {
        height: 30vh;
    }
    .contact-map {
        width: auto;
        height: auto;
    }
    .contact-address {
    font-size: 1.2rem;
    }
    .connect-links a,
    .connect-header {
        font-size: 1.8rem;
    }
    .connect-header {
        padding: 20px 0;
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        @media  screen and (orientation: landscape) {
            
            .contact-container {
                height: 100%;
                padding: 20px;
            }
        }
    }
}
@media screen and (min-width: 993px) and (max-width: 1024px) {
    .contact-map {
        width: auto;
        height: auto;
    }
    .contact-address {
        font-size: 1.2rem;
    }
    .contact-container {
        height: 30vh;
    }
    .connect-links a,
    .connect-header {
        font-size: 1.8rem;
    }
}
@media screen and (min-width: 1025px) {
    .connect-links a,
    .connect-header {
        font-size: 2.3rem;
    }
    .connect-header {
        padding: 5px;
    }
    .contact-map {
        width: 30vw;
    }
}
