.navbar {
    display: flex;
    justify-content: space-evenly;
    /*background: linear-gradient(to left,
            rgb(5, 18, 56) 0%,
            rgb(38, 65, 65) 100%);*/
    /*background: #488b8f;*/
    background: #0c0c0c;
    list-style: none;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 5vh;
}

.navbar li:nth-child(1) a,
.navbar li:nth-child(2) a,
.navbar li:nth-child(3) a, 
.navbar li:nth-child(4) a {
    font-weight: bold;
    font-size: 16px;
    color: rgb(245, 243, 243);
    text-decoration: none;
}

.logo-image {
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

.navbar li {
    width: 33%;
    text-align: center;
    /*border: 1px solid rgb(87, 79, 79);*/
    /*border: 1px solid rgb(122, 116, 116);*/
    color: #ffffff;
    padding: 10px;
}

.shopping-icon {
    position: absolute;
    margin-bottom: 5px;
    top: 45%;
    left: 88%;
    transform: translate(-50%, -50%);
    color: rgb(243, 238, 238);
}

@media screen and (min-width: 1220px) {
    .logo-image {
        width: auto;
    }
}