.navbar {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to left,
            rgb(5, 18, 56) 0%,
            rgb(38, 65, 65) 100%);
    list-style: none;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar li:nth-child(1) a,
.navbar li:nth-child(2) a,
.navbar li:nth-child(3) a {
    font-weight: bold;
    color: rgb(247, 244, 244);
    text-decoration: none;
}

.navbar li {
    width: 33%;
    text-align: center;
    border: 1px solid rgb(87, 79, 79);
    color: #fff;
    padding: 10px;
}

.shopping-icon {
    position: absolute;
    padding: 20px;
    margin-bottom: 5px;
    top: 50%;
    left: 87%;
    transform: translate(-50%, -50%);
    color: #fff;
}