.paypal-checkout-container {
    width: 70vw;
    margin: 0 auto;
    margin-top: 10px;
    background-color: aliceblue;
    padding-bottom: 60px;
}
.App-header {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 390px) {
    .paypal-checkout-container {
        width: 80vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .paypal-checkout-container {
        width: 50vw;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .paypal-checkout-container {
        width: 50vw;
    }
}

@media screen and (min-width: 1201px) {
    .paypal-checkout-container {
        width: 35vw;
        color: rgb(255, 255, 255);
        margin-top: 0;
    }
}