.protein-page-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}
.protein-banner {
    height: auto;
    width: 100vw;
    margin-top: -10px;
}
.protein-image {
    transform: scale(0.8);
}