.protein-page-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}
.protein-banner {
    height: 10vh;
    width: 100vw;
    margin-top: -10px;
}
.protein-page-card {
    display: flex;
    width: 100vw;
    /*background-color: rgb(244, 239, 233);*/
    margin: 0 auto;
    margin-bottom: 10px;
    /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);*/
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);


}

.protein-page-image-container {
    /*width: 100%;
    height: 150px;
    margin-bottom: 20px;*/
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.protein-page-cardImage {
    /*height: 18vh;
    width: 100%;
    object-fit:fill;*/
    margin: auto;
    width: 50%;
    height: auto;
}

.protein-page-product-image-1 {
    /*transform: scale(0.5);*/
}

/*.protein-page-product-image-2 {
    transform: scale(0.7);
    margin-top: 0;
}*/
.protein-page-product-name-container {
    height: 12vh;
}

.protein-page-product-name {
    color: black;
    text-align: center;
    width: 65%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}

.protein-page-link {
    text-decoration: none;
}

.protein-page-price {
    color: black;
    text-align: center;
    font-size: 1.7rem;
}

@media screen and (min-width: 392px) and (max-width: 639px) {
    .protein-page-image-container {}

    .protein-page-card {}
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .protein-page-image-container {
        width: 50vw;
    }
    .protein-page-product-name-container {
        height: 14vh;
    }

    .protein-page-card {
        width: 49vw;
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .protein-page-image-container {
        width: 50vw;
    }

    .protein-page-card {
        width: 49vw;
        height: auto;
    }
    .protein-page-product-name-container {
        height: 14vh;
    }
    @media  screen and (orientation: landscape) {
        .protein-page-product-name-container {
            height: 30vh;
        }
        .protein-banner {
            height: 25vh;
        }
        
    }
}

@media screen and (min-width: 1025px) {
    .protein-page-image-container {
        width: 33vw;
    }

    .protein-page-card {
        width: 33vw;
        height: auto;
        padding: 1px 0;
    }
    .protein-banner {
        height: auto;
        margin-top: -30px;
    }
    .protein-page-product-name {
        font-size: 1.8rem;
    }
    .protein-page-product-name-container {
        height: 8rem;
        margin-bottom: 20px;
    }
    .protein-page-price {
        margin-top: 50px;
    }
}