/*body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(5, 18, 56) 0%,
    rgb(38, 65, 65) 100%
  );
}  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*body {
  line-height: 1;
  background: linear-gradient(to left,
      rgb(5, 18, 56) 0%,
      rgb(38, 65, 65) 100%);
}  */
html {
  line-height: 1;
  background: linear-gradient(to left,
      rgb(5, 18, 56) 0%,
      rgb(38, 65, 65) 100%);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to left,
      rgb(5, 18, 56) 0%,
      rgb(38, 65, 65) 100%);
  list-style: none;
  margin-top: 0;

}

li {
  width: 33%;
  text-align: center;
  border: 1px solid rgb(87, 79, 79);
  color: #fff;
  padding: 10px;
}

.shopping-icon {
  position: absolute;
  padding: 20px;
  margin-bottom: 5px;
  top: 3.5%;
  left: 88%;
  transform: translate(-50%, -50%);
}

.login-container,
.signUp-container {
  width: 25vw;
  height: 70vh;
  border: 1px solid #fff;
  margin: 65px auto;
  border-radius: 40px;
  background: linear-gradient(to bottom right,
      /*rgb(5, 18, 56) 30%,*/
      rgb(34, 61, 61) 40%,
      rgb(14, 29, 77) 60%);
}

.signUp-Form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.signUp-header,
.login-header {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 15px;
}

.signUp-Email,
.signUp-Password,
.login-password,
.login-email {
  margin-bottom: 1rem;
  width: 15vw;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 5px 15px;
  border-radius: 7px;
}

.or {
  color: #fff;
  margin: 20px 0;
  font-size: 1.3rem;
}

.login-link,
.signup-link {
  color: rgb(239, 239, 245);
  text-decoration: none;
  font-size: 1.3rem;
}

/*.firstName-input,
.lastName-input,
.email-input,
.password-input,
.submit-button {
  background-color: rgb(43, 103, 103);
  border: 1px 0;
  padding: 10px 20px;
  color: #fff;
}

.firstName-input::placeholder,
.lastName-input::placeholder,
.email-input::placeholder,
.password-input::placeholder,
.submit-button::placeholder {
  color: #fff;
}  */

.logo {
  width: 50vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 60px;
}

.basketChoice {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px 0;
}

.addToBasket {
  border-radius: 8px;
}

.amountChoice {
  width: 25px;
  border-radius: 7px;
}

/*.navbar li:first-child {
    border-left: none;
  }*/

.navbar li:nth-child(1) a,
.navbar li:nth-child(2) a,
.navbar li:nth-child(3) a {
  font-weight: bold;
  color: rgb(250, 246, 246);
  text-decoration: none;
}


.price {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 0;
}

.card {
  border: solid 1px #077d34;
  border-radius: 20px;
  width: 200px;
  height: 75vh;
  margin: 20px 0 20px 0;
  background: linear-gradient(to left,
      rgb(16, 35, 93) 0%,
      rgb(43, 103, 103) 100%);
  background-size: contain;
  background-position: center;
  position: relative;
}

/*#only-whey:hover:after {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/only-whey-nutritional-info.jpeg');
  background-size:contain;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}
*/

/*.onlyWheyPageImage {
  height: 70vh;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}  */

/*#b4-train:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/b4-train-nutri-info.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 20px 20px 0 0;
}

#after-train1:hover:after,
#after-train2:hover:after,
#after-train3:hover:after,
#after-train4:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0.5;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/after-train-nutri-info.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 20px 20px 0 0;
}

#stage-ripped:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../public/images/staged-ripped-info.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 20px 20px 0 0;
}
*/

header {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.cardImage {
  width: 200px;
  height: 200px;
  padding: 20px 0;
}

/*img {
  width: 200px;
  height: 200px;
  padding: 20px 0;
}*/

@media screen and (max-width: 768px) {
  .logo {
    width: 80vw;
    height: 15vh;
  }

  .card {
    height: 55vh;
  }

  .login-container,
  .signUp-container {
    width: 50vw;
    height: 60vh;
  }

  .signUp-Form,
  .login-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    margin-top: 130px;
  }

}

@media screen and (min-width: 100px) and (max-width: 391px) {
  .card {
    height: 60vh;
  }

  .card-container {
    margin-top: 30px;
  }
}

@media screen and (min-width: 392px) and (max-width: 767px) {
  .card {
    height: 70vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    height: 75vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1600px) {
  .card {
    height: 75vh;
  }
}