/*body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(5, 18, 56) 0%,
    rgb(38, 65, 65) 100%
  );
}  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body,
#root {
  line-height: 1;
  /*background: linear-gradient(to left,
      rgb(5, 18, 56) 0%,
      rgb(38, 65, 65) 100%);*/
  /*background: linear-gradient(to left,
      rgb(30, 34, 42) 0%,
      rgb(16, 16, 16) 100%);*/
  /*background: linear-gradient(to right,
      rgb(56, 102, 102) 20%,
      rgb(69, 101, 101) 80%);*/
  height: 100%;
  /*background: #add2c9;*/


}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

form.signUp-Form {
  height: auto;
}
.logo-container {
  width: 20%;
  display: flex;
  
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 60px;
  height: 100%;
  padding-bottom: 60px;
}

.price {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 0;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: solid 1px #077d34;*/
  border-radius: 10px;
  height: auto;
  width: 25vw;
  margin: 20px 0 20px 0;
  background: linear-gradient(to left,
      rgb(16, 35, 93) 0%,
      rgb(43, 103, 103) 100%);
  /*background: linear-gradient(to left,
      rgb(4, 4, 4) 0%,
      rgb(69, 68, 68) 100%);*/
  background-size: contain;
  background-position: center;

}

.card:hover {
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 200px #fff;
}

.card a {
  text-decoration: none;
}

.main-page-product-name {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
  width: 40vw;
}


.cardImage {
  width: 40vw;
  height: 17vh;

}


.product-add-button {
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #090808;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3),
    0px 2px 5px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.24);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  width: auto;
  height: 30px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 25px auto;
  font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
  /*background-color: rgb(244, 229, 209);*/
  background-color: #fff;
}


.product-add-button:active {
  background: #fff;
  transform: translateY(2px);
  /*box-shadow: 0 0 5px #ff96ad, 0 0 25px
  #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;*/
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 200px #fff;
  color: black;
}

.welcome-message {
  color: #fff;
  margin-top: 15px;
  margin-left: 10px;

}

.cardImage.product-image-24 {
  border-radius: 6px;
}

@media screen and (min-width: 100px) and (max-width: 391px) {
  .card-container .card {

    width: 50vw;
    margin-top: 35px;
  }

  .logo {}

  .cardImage {
    height: 16vh;
    width: 35vw;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .product-add-button {
    width: 30vw;
  }

}


@media screen and (min-width: 392px) and (max-width: 480px) {
  .card-container .card {
    height: 100%;
    width: auto;
  }

  .cardImage {
    height: auto;
    width: 40vw;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .product-add-button {
    width: 30vw;
  }

  .logo {
    width: 50vw;
    height: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {

  .card {
    height: auto;
    width: 35vw;
  }

  .main-page-product-name {
    font-size: 14px;
    text-align: center;
    width: 90%;

  }

  .logo {
    width: 50vw;
    height: auto;
  }

  .cardImage {
    display: block;
    margin: auto;
    height: auto;
    width: 25vw;
    margin-top: 20px;
  }


  .cardImage.product-image-10,
  .cardImage.product-image-11,
  .cardImage.product-image-13 {
    width: 25vw;
    height: auto;
  }

  .cardImage.product-image-9 {
    width: 19vw;
    height: auto;
  }

  .login-container,
  .signUp-container {
    width: 40vw;
  }

  @media screen and (orientation: landscape) {
    .cardImage {
      height: auto;
    }

    .card-container .card {
      height: auto;
    }
  }
}


@media screen and (min-width: 601px) and (max-width: 768px) {
  .card {
    height: auto;
  }

  .logo {
    width: 50vw;
    height: auto;
  }

  .cardImage {
    display: block;
    height: auto;
    width: 18vw;
    margin: auto;
    margin-top: 20px;
  }

  .cardImage.product-image-3 {
    margin-top: 38px;
  }

  .cardImage.product-image-6 {
    margin-top: 0;
  }

  button.product-add-button {
    width: auto;
  }

  .main-page-product-name {
    width: 90%;
  }

  .login-container,
  .signUp-container {
    width: 30vw;
  }

  @media screen and (orientation: landscape) {
    .card {
      height: auto;
    }

    .card-container {
      margin-bottom: 60px;
      height: 100%;
    }

    .cardImage {
      height: auto;
    }
  }
}

@media screen and (min-width: 769px) and (max-width:992px) {
  .cardImage {
    display: block;
    margin: 0 auto;
    width: 15vw;
    height: auto;
    margin-top: 10px;
  }

  .main-page-product-name {
    width: 90%;
  }

  .card {
    height: auto;
  }

  button.product-add-button {
    width: auto;
  }

  .login-container,
  .signUp-container {
    width: 30vw;
  }


  @media screen and (orientation: landscape) {

    /*.cardImage {
      height: 25vh;
      width: auto;
    }*/

    .card-container .card {
      height: auto;
    }

    .login-container,
    .signUp-container {}

    /*.signup-submit-button {
      width: auto;
      padding: 0%;
    }*/
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .cardImage {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 10vw;
    margin-top: 20px;
  }

  .card {
    height: auto;
    width: auto;
  }

  .main-page-product-name {
    width: 20vw;
    font-size: 12px;
    margin-top: 18px;
  }

  button.product-add-button {
    width: auto;
  }

  .login-container,
  .signUp-container {
    width: 30vw;
  }

}


@media screen and (min-width: 1201px) {
  .cardImage {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 10vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img.logo {
    width: auto;
  }

  .card {
    height: auto;
    width: 18vw;
    margin-right: 10px;
  }

  /*
  .cardImage.product-image {
    height: 100px;
  }

  .cardImage.product-image-2 {
    height: 110px;
    margin-top: 30px;
  }

  .cardImage.product-image-3,
  .cardImage.product-image-4 {
    height: 115px;
    margin-top: 30px;
  }

  .cardImage.product-image-5,
  .cardImage.product-image-7,
  .cardImage.product-image-9 {
    height: 120px;
    margin-top: 40px;
  }

  .cardImage.product-image-6,
  .cardImage.product-image-16 {
    height: 125px;
    margin-top: 20px;
    width: 150px;
  }

  .cardImage.product-image-15 {
    height: 120px;
    margin-top: 10px;
  }

  .cardImage.product-image-8 {
    height: 130px;
    margin-top: 30px;
  }

  .cardImage.product-image-10 {
    height: 150px;
  }

  .cardImage.product-image-11 {
    height: 155px;
    margin-top: 10px;
  }

  .cardImage.product-image-12 {
    height: 120px;
    margin-top: 30px;
  }

  .cardImage.product-image-13 {
    height: 120px;
    margin-top: 30px;
  }

  .cardImage.product-image-14 {
    height: 120px;
    margin-top: 30px;
  }

  .cardImage.product-image-17 {
    height: 120px;
    margin-top: 5px;
  }

  .cardImage.product-image-18 {
    height: 120px;
    margin-top: 5px;
  }

  .cardImage.product-image-19 {
    height: 130px;
    margin-top: 5px;
  }

  .cardImage.product-image-21,
  .cardImage.product-image-22,
  .cardImage.product-image-23 {
    height: 120px;
    margin-top: 5px;
  } */

  .main-page-product-name {
    font-size: 16px;
    width: 12vw;
  }

  .product-add-button {
    width: 20vw;
    font-size: 10px;
  }


  #login-email {
    width: auto;
  }

  .login-container,
  .signUp-container {
    width: 25vw;
  }
}