.shopping-icon {
    color: #f9f6f6;
    position: fixed;
    top: 1rem;
    /*right: 3.5rem;*/
    /*left: 0.5rem;*/
    height: 1rem;
    width: 2rem;
    cursor: pointer;
    z-index: 1000;
    margin: auto;
}
.product-page-basket-icon {
    color: black;
}