.fat-loss-page-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}
.fat-loss-banner {
    height: 11vh;
    margin-top: -6px;
    width:   100vw;
}
.fat-loss-text-1 {
    font-size: 1rem;
    background: #dcf3e5 ;
    width: 85vw;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px 20px;
    border: 1px solid black;
}
.fat-loss-text-2 {
    color: #0d0d0d;
}
.fat-loss-page-card {
    width: 100vw;
    /*background-color: rgb(244, 239, 233);*/
    margin: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}
.fat-loss-image-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.fat-loss-page-cardImage {
    margin: auto;
    width: 40%;
    height: auto;
    object-fit: cover;
}

.fat-loss-page-product-image-6 {
    /*transform: scale(0.7);*/
}
.fat-loss-page-product-image-15,
.fat-loss-page-product-image-18 {
    /*transform: scale(0.7);*/
    margin-top: 0;
}

.fat-loss-page-product-name  {
    /*color: black;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;*/

    color: black;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.fat-loss-product-name-container {
    height: 60px;
}

.fat-loss-page-link {
    text-decoration: none;
}

.fat-loss-page-price {
    color: black;
    text-align: center;
}


@media screen and (min-width: 392px) and (max-width: 639px) {
    .protein-page-image-container {}

    .protein-page-card {}
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .fat-loss-image-container {
        width: 50vw;
    }

    .fat-loss-page-card {
        width: 49vw;
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .fat-loss-image-container {
        width: 50vw;
    }

    .fat-loss-page-card {
        width: 49vw;
        height: auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .fat-loss-image-container {
        width: 50vw;
    }

    .fat-loss-page-card {
        width: 49vw;
        height: auto;
    }
}

@media screen and (min-width: 1201px) {
    .fat-loss-image-container {
        width: 33vw;
    }

    .fat-loss-page-card {
        width: 32vw;
        height: auto;
    }
    .fat-loss-banner {
        margin-top: -11px;
        height: 22vh;
        margin-bottom: 10%;
    }
}