.menu-label {
    /*background-color: #B6EDC8;*/
    background-color: #0c0c0c;
    position: fixed;
    top: 0.2rem;
    right: 0.3rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba(182, 237, 200, 0.3);
    text-align: center;
}

.nav-background {
    position: fixed;
    /*top: 6.5rem;
    right: 6.5rem;*/
    top: 0.2rem;
    right: 0.3rem;
    /*background-image: radial-gradient(#115b4c, #B6EDC8);*/
    /*background-image: radial-gradient(#fffefe, #202365);*/
    /*background-image: radial-gradient(#050505, #1d1b1b);*/
    background-image: radial-gradient(#ffffff, #fcfcfc);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.8s;
}

.nav-background.clicked {
    transform: scale(80);
}

.icon {
    position: relative;
    background-color: rgb(246, 243, 243);
    width: 2rem;
    height: 3px;
    display: inline-block;
    margin-top: 1.5rem;
    transition: all 0.3s;
}

.icon::before,
.icon::after {
    content: "";
    background-color: rgb(250, 247, 247);
    width: 2rem;
    height: 3px;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all .3s
}

.icon::before {
    top: -0.5rem
}

.icon::after {
    top: .5rem
}

.icon.clicked {
    background-color: transparent
}

.icon.clicked::before {
    top: 0;
    transform: rotate(135deg)
}

.icon.clicked::after {
    top: 0;
    transform: rotate(-135deg);
}

.navigation {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 600;
    width: 0;
    opacity: 0;
    transition: width .8s, opacity .8s;
}

.navigation.clicked {
    width: 100%;
    opacity: 1;
}

.list {
    position: absolute;
    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.item-link {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    /*color: #B6EDC8;*/
    color: #000000 ;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right,
            transparent,
            transparent,
            #6986a2,
            #e9dfdf);
    background-size: 300%;
    transition: all .4s;
    border-radius: 6px;
}

.item-link:hover,
.item-link:hover::after {
    background-position: 100%;
    color: #115b4c;
}
