
/*.homepage-body {
    height: 100%;
}

.diet-product-card-container,
.wellbeing-product-card-container,
.fat-loss-product-card-container,
.pre-workout-product-card-container .protein-product-card-container {
    display: flex;
    margin: auto;
    width: 100%;
}

.homepage-snc-products,
.wellbeing-homePage-image,
.pre-workout-homePage-image,
.homePage-image {
    width: 100vw;
}

.fat-loss-homePage-image {
    height: 95%;
    width: 95%;
    padding: 5px 10px 0 10px;
    margin-bottom: 0;
}

.homepage-info-text-image,
.homepage-b4Train-text-image,
.homepage-stage-ripped-text-image {
    height: 25vh;
    width: 100vw;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    @media  screen and (orientation: landscape) {
        .homepage-b4Train-text-image,
        .homepage-stage-ripped-text-image,
        .homepage-info-text-image {
            height: 50vh;
        }
        
    }
}

@media screen and (min-width: 1201px) {

    .homepage-info-text-image,
    .homepage-b4Train-text-image,
    .homepage-stage-ripped-text-image {
        height: 35vh;
        width: 100vw;
    }
}

*/
.homepage-text {
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}
.homepage-heading {
    font-size: 1.1rem ;
    font-style: italic;
}
.custom-card-image {
    height: auto;
}