.homepage-body {
    height: 100%;
}

.diet-product-card-container,
.wellbeing-product-card-container,
.fat-loss-product-card-container,
.pre-workout-product-card-container .protein-product-card-container {
    /*position: relative;*/
    display: flex;
    margin: auto;
    width: 100%;
}

/*
.image-container {
    position: relative;
}
*/
/*.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image-text {
    color: rgb(2, 2, 2);
    background: #e9e3e3;
    background: #d0d0d0;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}
*/
.homepage-snc-products,
.wellbeing-homePage-image,
.pre-workout-homePage-image,
.homePage-image {
    width: 100vw;
}

.fat-loss-homePage-image {
    height: 95%;
    width: 95%;
    padding: 5px 10px 0 10px;
    margin-bottom: 0;
}

.homepage-info-text-image,
.homepage-b4Train-text-image,
.homepage-stage-ripped-text-image {
    height: 25vh;
    width: 100vw;
}

/*@media screen and (min-width: 640px) and (max-width: 768px) {
    .homepage-snc-products {
        margin-bottom: -4px;
    }

    .homePage-product-cards-container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: black;
    }

    .diet-product-card-container,
    .wellbeing-product-card-container,
    .fat-loss-product-card-container,
    .pre-workout-product-card-container,
    .protein-product-card-container {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
    }

    .homePage-image {
        width: 49vw;
        height: 30vh;
    }

    .pre-workout-homePage-image {
        width: 49vw;
        height: 20vh;
    }

    .fat-loss-homePage-image {
        width: 49vw;
    }

    .wellbeing-homePage-image {
        width: 49vw;
    }

    .homePage-studio-image {
        height: 30vh;
        width: 40vw;
    }
}
*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    @media  screen and (orientation: landscape) {
        .homepage-b4Train-text-image,
        .homepage-stage-ripped-text-image,
        .homepage-info-text-image {
            height: 50vh;
        }
        
    }
}

@media screen and (min-width: 1201px) {

    .homepage-info-text-image,
    .homepage-b4Train-text-image,
    .homepage-stage-ripped-text-image {
        height: 35vh;
        width: 100vw;
    }
}