.pre-workout-page-card-container {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 40px;
    margin: auto;
}

.pre-workout-page-card {
    width: 90vw;
    background-color: rgb(244, 239, 233);
    margin: auto;
    margin-bottom: 10px;
    height: auto;
    border-radius: 4px;
    align-items: center;
}

.pre-workout-page-image-container {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

.pre-workout-page-cardImage {
    margin: auto;
    width: 70%;
    height: auto;
    object-fit: cover;
}

.pre-workout-page-product-image-9,
.pre-workout-page-product-image-13 {
    transform: scale(0.7);
}

.pre-workout-page-product-image-10,
.pre-workout-page-product-image-11 {
    transform: scale(0.9);
}

.pre-workout-page-product-image-14,
.pre-workout-page-product-image-19 {
    transform: scale(0.7);
}

.pre-workout-page-product-name-container {
    height: 100px;
    margin-top: 0;
}

.pre-workout-page-product-name {
    color: black;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    width: 60%;
}

.pre-workout-page-product-name-11,
.pre-workout-page-product-name-13,
.pre-workout-page-product-name-19 {
    margin-bottom: 19%
}

.pre-workout-page-link {
    text-decoration: none;
}

.pre-workout-page-price {
    color: black;
    text-align: center;
}

.pre-workout-add-button .product-add-button {
    background-color: rgb(235, 229, 220);
}

@media screen and (min-width: 445px) and (max-width: 639px) {
    .pre-workout-page-image-container {
        width: 50vw;
    }

    .pre-workout-page-card {
        width: 49vw;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .pre-workout-page-image-container {
        width: 50vw;
    }

    .pre-workout-page-card {
        width: 49vw;
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .pre-workout-page-image-container {
        width: 33vw;
    }

    .pre-workout-page-card {
        width: 33vw;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .pre-workout-page-image-container {
        width: 33vw;
    }

    .pre-workout-page-card {
        width: 33vw;
        height: auto;
    }
}