.pre-workout-banner {
    width: 100vw;
    height: auto;
    margin-top: -9px;
}
.pre-workout-image-14,
.pre-workout-image-19,
.pre-workout-image-10,
.pre-workout-image-11,
.pre-workout-image-9,
.pre-workout-image-13 {
    transform: scale(0.9);
}