.pre-workout-page-card-container {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 40px;
}

.pre-workout-page-card {
    width: 45vw;
    background-color: rgb(244, 239, 233);
    margin: auto;
    margin-bottom: 10px;
    height: 40vh;
    border-radius: 4px;
}

.pre-workout-page-cardImage {
    margin: auto;
    width: 100%;
}

.pre-workout-page-product-image-9,
.pre-workout-page-product-image-13 {
    transform: scale(0.7);
}
.pre-workout-page-product-image-10,
.pre-workout-page-product-image-11 {
    transform: scale(0.9);
}
.pre-workout-page-product-image-14,
.pre-workout-page-product-image-19 {
    transform: scale(0.8);
}

.pre-workout-page-product-name  {
    color: black;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}
.pre-workout-page-product-name-11,
.pre-workout-page-product-name-13,
.pre-workout-page-product-name-19 {
    margin-bottom: 19%
}

.pre-workout-page-link {
    text-decoration: none;
}

.pre-workout-page-price {
    color: black;
    text-align: center;
}
.pre-workout-add-button .product-add-button {
    background-color: rgb(235, 229, 220);
}