html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    line-height: 1;
    background: linear-gradient(to bottom right,
            rgb(5, 18, 56) 30%,
            rgb(64, 67, 67) 70%);

}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 150vh;
}

h4 {
    color: #ccc;
}

.servings-info {
    color: #ccc;
    margin: 20px 0;
}


.product-card-image {
    display: flex;
    align-items: center;
    margin-top: 0;

}

h1 span {
    display: block;
}

.product-card-details {
    margin-top: 0;
}

.product-card-details h1,
h2 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 2rem;
}

.product-card-details h1 {
    font-size: 3rem;
}

/*.product-card-details {
    max-width: 100%;
}*/

.product-card-options {
    width: 18rem;
    color: #ccc;
}

.product-description {
    width: 36rem;
    color: #ccc;
    margin: 1rem 0;
}

.product-description h1 {
    font-size: 2rem;
    margin: 20px 0;
}

.product-price {
    color: #fff;
}

.product-directions {
    color: #ccc;
}

.product-advice {
    color: #ccc;
    width: 20vw;
}

.product-storage {
    color: #ccc;
}

.product-card-checkboxes {
    margin-right: 20px;
    height: 4vh;
}

.product-card-checkboxes label {
    display: block;
}

.product-card-checkboxes input {
    margin-right: 5px;
}

.product-card-amount select {
    margin-left: 5px;
    margin-top: 7px;
    width: 10vw;
    height: 3vh;
}

.product-card-amount {
    color: #ccc;
}

.amount-ingredients-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.directions-info h1 {
    font-size: 2rem;
}

.ingredient-info {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
}

.ingredient-info h3 {
    font-size: 1.5rem;
}

@media screen and (max-width: 390px) {
    .product-card, 
    .product-price, 
    .product-description, 
    .product-advice, 
    .product-storage, 
    .product-directions {
        width: 80%;
    }
}


@media screen and (max-width: 768px) {
    .product-card, 
    .product-price, 
    .product-description, 
    .product-advice, 
    .product-storage, 
    .product-directions {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    

    @media screen and (orientation: landscape) {
        .product-card-image img{
            margin-top: 550px;
            margin-bottom:250px ;
            height: 200px;
        }

        .product-card-details {
            margin-top: 80px;
        }
        .product-card {
            height: 1oovh;
        }

        .Navbar {
            margin-bottom: 50px;
        }

    }
}

@media screen and (max-width: 960px) {

    @media screen and (orientation: landscape) {
        .product-card-image img{
            margin-top: 240px;
            height: 300px;
        }
}
}

