.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    padding-bottom: 60px;
    padding-top: 60px;
}
.product-container {
    background-color: rgb(241, 242, 237);
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}
.product-image-container {
    display: flex;
    justify-content:center;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(245, 236, 223);
    border-radius: 2px;
}
.product-card-image {
    height: 19%;
    width: 50%;
    margin: auto;
    transform: scale(0.9);
    padding-bottom: 10px;
}
.after-train-image{
    margin: auto;
}
.product-card-image-2 {
    height: 11vh;
    border-radius: 5px;
    width: auto;
    margin: auto;
}
.after-advanced-product-image-2 {
    margin: auto;
    width: auto;
    height: 10vh;
}

.product-description-heading {
    font-size: 1.7rem;
    padding-bottom: 10px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}
.product-description {
    width: 80%;
    background-color: rgb(240, 228, 212);
    color: #131212;
    margin: auto;
    font-size: 1.2rem;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
    padding: 4px 8px;
    border-radius: 4px;
}
.servings-info {
    padding: 14px;
    text-align: center;
    color: #131212;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}
.servings-info h1 {
    font-size: 1.5rem;
}
.product-card-info {
    margin-top: 10px;
    margin: auto;
    background-color: rgb(245, 236, 223);
    width: 80vw;
}
.bullet-points-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.hexagon-icon {
    align-self: flex-start;
    margin-left: 2%;
}
.product-name {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px;
}
.name-and-bullet-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.bullet-points {
    display: flex;
    flex-direction: row;
}
.product-bullet-points {
    font-size: 0.8rem;
    padding: 5px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
    margin: auto;
    
}
.product-price {
    font-size: 1.4rem;
    text-align: center;
    padding: 20px 0;
}
.product-directions {
    width: 80vw;
}
.product-directions h1 {
    padding: 5px;
    text-align: center; 
    font-size: 1.5rem;
}
.product-directions p {
    margin: auto;
    width: 80vw;
    text-align: center;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;

}
.product-flavour {
    position: relative;
    /*background-color: rgb(59, 59, 248);*/
    width: 40vw;
    margin: auto;
    text-align: center;
    padding: 5px 0;
    color: #fff;
}
.product-flavour:before,
.product-flavour:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

.product-flavour:before {
    left: -20px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    /*border-right: 20px solid rgb(59, 59, 248);*/
}

.product-flavour:after {
    right: -20px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    /*border-left: 20px solid rgb(59, 59, 248);*/
}
.flavour-blue-candy {
    background: linear-gradient(to top right, rgb(76, 18, 223), rgb(105, 111, 225));
}

.flavour-blue-candy:before {
    border-right: 20px solid rgb(98, 51, 215)
}

.flavour-blue-candy:after {
    border-left: 20px solid rgb(98, 51, 215)
}
.flavour-strawberry-lime {
    background: linear-gradient(to top right, rgb(187, 51, 51), rgb(40, 197, 72));
}

.flavour-strawberry-lime:before {
    border-right: 20px solid rgb(185, 67, 56);
}

.flavour-strawberry-lime:after {
    border-left: 20px solid rgb(82, 209, 40);
}
.flavour-orange-mango {
    background: linear-gradient(to top right, orange, rgb(255, 248, 52));
}

.flavour-orange-mango:before {
    border-right: 20px solid orange;
}

.flavour-orange-mango:after {
    border-left: 20px solid rgb(255, 248, 52);
}
.flavour-fruit-punch {
    background: rgb(241, 124, 65) ;
}

.flavour-fruit-punch:before {
    border-right: 20px solid rgb(241, 124, 65);
}

.flavour-fruit-punch:after {
    border-left: 20px solid rgb(241, 124, 65);
}
.flavour-orange {
    background: orange ;
}

.flavour-orange:before {
    border-right: 20px solid orange;
}

.flavour-orange:after {
    border-left: 20px solid orange;
}
.flavour-apple {
    background: rgb(10, 149, 10) ;
}

.flavour-apple:before {
    border-right: 20px solid rgb(10, 149, 10);
}

.flavour-apple:after {
    border-left: 20px solid rgb(10, 149, 10);
}
.flavour-blue-raspberry {
    background: rgb(102, 162, 218) ;
}

.flavour-blue-raspberry:before {
    border-right: 20px solid rgb(102, 162, 218);
}

.flavour-blue-raspberry:after {
    border-left: 20px solid rgb(102, 162, 218);
}
.flavour-cotton {
    background: rgb(194, 15, 15) ;
}

.flavour-cotton:before {
    border-right: 20px solid rgb(194, 15, 15);
}

.flavour-cotton:after {
    border-left: 20px solid rgb(194, 15, 15);
}
.flavour-rio-berry {
    background: rgb(176, 12, 168) ;
}

.flavour-rio-berry:before {
    border-right: 20px solid rgb(176, 12, 168);
}

.flavour-rio-berry:after {
    border-left: 20px solid rgb(176, 12, 168);
}
.flavour-tropical-gummy {
    background: rgb(32, 145, 22) ;
}

.flavour-tropical-gummy:before {
    border-right: 20px solid rgb(32, 145, 22);
}

.flavour-tropical-gummy:after {
    border-left: 20px solid rgb(32, 145, 22);
}
.product-flavors-container {
    display: flex;
}
.product-flavors {
    margin: auto;
}
.flavor-label.flavor-Banana-Split {
    background-color: #e4ef17;
    padding: 0px 15px;
    border-radius: 8px;
    width: 50vw;
}
.flavor-label.flavor-Chocolate-Caramel {
    background: linear-gradient(to top right, rgb(173, 86, 86) 20%, rgb(235, 183, 79) 50%);
    padding: 0px 15px;
    border-radius: 8px;
}
.flavor-label.flavor-Strawberry-Cream {
    background: linear-gradient(to top right, rgb(226, 26, 26) 20%, rgb(240, 228, 122) 50%);
    padding: 0px 15px;
    border-radius: 8px;
}
.flavor-label.flavor-Clotted-Vanilla-Ice-Cream {
    background: linear-gradient(to top right, rgb(226, 203, 26) 20%, rgb(241, 232, 156) 50%);
    padding: 0px 15px;
    border-radius: 8px;
}
.flavor-label.flavor-Rhubarb-and-Custard {
    background: linear-gradient(to top right, rgb(224, 90, 90) 20%, rgb(241, 222, 49) 50%);
    padding: 0px 15px;
    border-radius: 8px;
}
input[type="checkbox"]:checked {
    background-color: rgb(114, 184, 102);
}

.caffeine-badge {
    background-color: rgb(241, 242, 237);
    width: 100px;
    height: 100px;
}