.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 110vh;
    padding-bottom: 60px;
    padding-top: 60px;
}
.product-container {
    background-color: rgb(241, 242, 237);
    height: 120vh;
    margin-bottom: 10px;
}
.product-image-container {
    display: flex;
    justify-content:center;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(245, 236, 223);
    border-radius: 2px;
}
.product-card-image {
    height: 19%;
    margin-top: 20px;
    width: 50%;
    transform: scale(0.9);
    padding-bottom: 10px;
}
.product-card-image-2 {
    width: 50%;
    height: 11vh;
    border-radius: 5px;
}
.product-card-image-2 {
    width: auto;
    margin: auto;
}
.after-advanced-product-image-2 {
    margin: auto;
    width: auto;
    height: 10vh;
}

.product-description-heading {
    font-size: 1.7rem;
    padding-bottom: 10px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}
.product-description {
    width: 80%;
    color: #131212;
    margin: auto;
    font-size: 1.2rem;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}
.servings-info {
    padding: 10px;
    text-align: center;
    color: #131212;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}
.servings-info h1 {
    font-size: 1.5rem;
}
.product-card-info {
    margin-top: 10px;
    margin: auto;
    background-color: rgb(245, 236, 223);
    width: 80vw;
}
/*.product-name {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}*/
.bullet-points-container {
    display: flex;
    flex-direction: column;
}
.hexagon-icon {
    align-self: flex-start;
    padding-top: 3px;
    margin-left: 2%;
}
.product-name {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px;
}
.name-and-bullet-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.bullet-points {
    display: flex;
    flex-direction: row;
}
.product-bullet-points {
    font-size: 0.8rem;
    padding: 5px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
    margin: auto;
    
}
.product-price {
    font-size: 1.4rem;
    text-align: center;
    padding: 20px 0;
}
.product-directions {
    width: 80vw;
}
.product-directions h1 {
    padding: 5px;
    text-align: center; 
    font-size: 1.5rem;
}
.product-directions p {
    margin: auto;
    width: 80vw;
    text-align: center;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;

}
.product-flavour {
    position: relative;
    /*background-color: rgb(59, 59, 248);*/
    width: 40vw;
    margin: auto;
    text-align: center;
    padding: 5px 0;
    color: #fff;
}
.product-flavour:before,
.product-flavour:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

.product-flavour:before {
    left: -20px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    /*border-right: 20px solid rgb(59, 59, 248);*/
}

.product-flavour:after {
    right: -20px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    /*border-left: 20px solid rgb(59, 59, 248);*/
}
.flavour-blue-candy {
    background: linear-gradient(to top right, rgb(76, 18, 223), rgb(105, 111, 225));
}

.flavour-blue-candy:before {
    border-right: 20px solid rgb(98, 51, 215)
}

.flavour-blue-candy:after {
    border-left: 20px solid rgb(98, 51, 215)
}
.flavour-strawberry-lime {
    background: linear-gradient(to top right, rgb(187, 51, 51), rgb(40, 197, 72));
}

.flavour-strawberry-lime:before {
    border-right: 20px solid rgb(185, 67, 56);
}

.flavour-strawberry-lime:after {
    border-left: 20px solid rgb(82, 209, 40);
}
