.studio-container {
    /*background-image: url("/public/images/ea2b5289-f8b6-4078-a2e0-b54826ac6e8e.jpg");
    background-size: cover;
    height: 100vh;*/
    padding-bottom: 60px;
}

.studio-heading {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin: 2rem 0 auto;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 70px;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.studio-carousel-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.studio-carousel-image {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    /*width: 80%;
    height: 200px;
    object-fit: fill*/

}

.studio-image-1 {
    width: 40vw;
    height: 14vh;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
    transition: 1.2s;
}

.studio-image-2 {
    width: 40vw;
    height: auto;
    border-radius: 10px;
    transition: 1.2s;
}

.studio-image-1:hover,
.studio-image-2:hover {
    transform: scale(1.5);
}

.studio-descriptions {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to left,
            rgb(26, 41, 85) 0%,
            rgb(47, 82, 82) 100%);
    margin: auto;
    width: 85vw;
    margin-top: 20px;
    border-radius: 7px;
}

.studio-description-section-1,
.studio-description-section-2,
.studio-description-section-3,
.studio-description-section-4,
.studio-description-section-5 {
    color: #ede6e6;
    background: linear-gradient(to left,
            rgb(42, 57, 101) 0%,
            rgb(91, 103, 103) 100%);
    width: 80%;
    font-size: 1.1rem;
    border-radius: 7px;
    padding: 12px;
    margin: auto;
    margin-top: 20px;
}

.studio-description-section-5 {
    margin-bottom: 20px;
}


@media screen and (min-width: 601px) and (max-width: 768px) {

    .studio-description-section-1,
    .studio-description-section-2,
    .studio-description-section-3,
    .studio-description-section-4,
    .studio-description-section-5 {
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .studio-description-section-1,
    .studio-description-section-2,
    .studio-description-section-3,
    .studio-description-section-4,
    .studio-description-section-5 {
        width: 80%;
    }
    .studio-descriptions {
        width: 50%;
    }
}