.training-page-card-container {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 40px;
}
.training-text-1 {
    font-size: 1rem;
    background: #dcf3e5 ;
    width: 85vw;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px 20px;
    border: 1px solid black;
}
.training-text-2 {
    color: #0d0d0d;
}
.training-page-card {
    width: 45vw;
    background-color: rgb(233, 235, 225);
    margin: auto;
    margin-bottom: 10px;
    height: 40vh;
    border-radius: 4px;
}

.training-page-cardImage {
    margin: auto;
    width: 100%;
}

.training-page-product-image-24 {
    transform: scale(0.7);
}
.training-page-product-image-20 {
    transform: scale(0.7);
    margin-top: 5%;
}

.training-page-product-name  {
    color: black;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}
.training-page-product-name-1,
.training-page-product-name-8 {
    margin-bottom: 19%
}

.training-page-link {
    text-decoration: none;
}

.training-page-price {
    color: black;
    text-align: center;
}
.training-image-container {
    display: block;
    margin: auto;
    border-radius: 4px;
    width: 92vw;
    background: rgb(233, 235, 225);
    padding: 5px;
}
.training-studio,
.training-certificate {
    display: flex;
    width: 85vw;
    margin: auto;
    height: 22vh;
}
.training-studio-text-container {
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: 10px auto;
}
.training-studio-text {
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
    background : #e9e3e3;
}
.training-image-container {
    position: relative;
}

/*.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}*/
.training-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 95%);
    width: 30%;
    height: 30%;
}
.training-image-text {
    color: rgb(2, 2, 2);
    background : #e9e3e3;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}