.training-page-card-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.training-basket-icon.shopping-icon {
    color: #111010;
}

.training-page-card {
    width: 100vw;
    /*background-color: rgb(244, 239, 233);*/
    display: flex;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 4px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
}

.training-page-image-container {
    display: flex;
    width: 100vw;

}

.training-page-cardImage {
    /*margin: auto;
    width: 100%;
    height: auto;*/
    margin: auto;
    width: 60vw;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;

}

.training-page-product-name {
    color: black;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 10%;
}

.training-page-name-container {
    height: 60px;
}

.training-page-product-name-1,
.training-page-product-name-8 {
    margin-bottom: 19%
}

.training-page-link {
    text-decoration: none;
}

.training-page-price {
    color: black;
    text-align: center;
}

.training-image-container {
    /*position: relative;*/
    display: block;
    margin: auto;
    background-color: rgb(244, 239, 233);
}

.training-studio,
.training-certificate {
    display: flex;
    width: 99vw;
    margin: auto;
    height: 28vh;
}

.training-certificate {
    border: 2px solid rgb(98, 96, 12);
}
.training-text {
    /*text-align: center;
    font-size: 1.2rem;
    width: 100vw;
    padding: 10px 0;*/
    width: 100vw;
    height: 20vh;
    padding: 10px 0;
}
@media screen and (min-width: 400px) and (max-width: 768px) {

    .training-studio,
    .training-certificate {
        width: 50vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1124px) {
    .training-page-card {
        width: 50vw;
    }
    .training-page-image-container {
        width: 50vw;
    }

    .training-page-product-name {
        font-size: 1.5rem;
    }
    .training-page-cardImage {
        height: 300px;
        width: auto;
    }
    /*.training-image-container {
        display: flex;
        height: auto;
    }

    .training-page-cardImage-24 {
        margin-top: 20px;
    }

    .training-certificate {
        width: 70vw;
    }

    .training-studio {
        margin: auto;
        width: 50vw;
        height: 40vh;
    }
    */

    .training-text {
        height: auto;
    }
    .training-certificate {
        width: auto;
        height: 60vh;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 1025px) {

    .training-page-card {
        width: 45vw;
    }
    .training-page-image-container {
        width: 45vw;
    }

    .training-page-product-name {
        font-size: 1.5rem;
    }
    /*.training-page-cardImage {
        width: 40%;
    }*/
    .training-page-cardImage {
        height: 300px;
        width: auto;
    }
    .training-text {
        height: auto;
    }
    .training-certificate {
        width: auto;
        height: 60vh;
        margin-bottom: 20px;
    }
    

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {}

@media screen and (min-width: 1201px) {}