.training-page-card-container {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 40px;
    height: 100vh;
}
.training-page-card {
    width: 48vw;
    background-color: rgb(244, 239, 233);
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}
.training-page-image-container {
    display: flex;
    width: 48vw;

}
.training-page-cardImage {
    /*margin: auto;
    width: 100%;
    height: auto;*/
    margin: auto;
    width: 80%;
    height: auto;
    object-fit: cover;
    
}

.training-page-product-image-24 {
    transform: scale(0.6);
}
.training-page-product-image-20 {
    transform: scale(0.7);
    margin-top: 11%;
}

.training-page-product-name  {
    color: black;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 10%;
}
.training-page-name-container {
    height: 60px;
}
.training-page-product-name-1,
.training-page-product-name-8 {
    margin-bottom: 19%
}

.training-page-link {
    text-decoration: none;
}

.training-page-price {
    color: black;
    text-align: center;
}
.training-image-container {
    display: block;
    margin: auto;
    border-radius: 4px;
    width: 92vw;
    background-color: rgb(244, 239, 233);
    padding: 5px;
}
.training-studio,
.training-certificate {
    display: flex;
    width: 85vw;
    margin: auto;
    height: 22vh;
}
.training-studio-text-container {
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: 10px auto;
}
.training-studio-text {
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
    background-color: rgb(240, 228, 212);
}
.training-image-container {
    position: relative;
}
.training-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 95%);
    width: 30%;
    height: 30%;
}
.training-image-text {
    color: rgb(2, 2, 2);
    background : #e9e3e3;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-family: CriqueGrotesk, Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 392px) {
    .training-page-card-container {
        padding-top: 0;
    }
    .certificate-and-text-container {
        display: flex;
    }
    .training-image-container {
        width: 95vw;
    }
    .training-certificate {
        width: 47vw;
        height: auto;
    }
    .training-studio-text {
        width: 47vw;
        height: auto;
        margin: auto;
    }
    .training-studio {
        display: block;
        width: 60%;
        height: 35vh;
        margin-bottom: 10px;
    }
    .training-page-card {
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 1201px) {
    
}